*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background: linear-gradient(135deg, #f29399, #e7e597);
color:#333; 
line-height:1.6;
transition: background 0.4s, color 0.4s;
}

/* NAVBAR */

header{
position:sticky;
top:0;
z-index:100;
  
background:rgba(255,255,255,0.7);
backdrop-filter:blur(10px);
-webkit-backdrop-filter:blur(10px);

border-bottom:1px solid rgba(255,255,255,0.2);
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
text-decoration:none;
color:#333;
font-weight:500;
position:relative;
padding-bottom:5px;
transition:.3s;
}

nav a::after{
content:"";
position:absolute;
left:0;
bottom:0;
width:0%;
height:2px;
background:#4f46e5;
transition:0.3s;
}

nav a:hover::after{
width:100%;
}

nav a:hover{
color: #336a29;
}

nav a.active{
color: #336a29;;
font-weight:600;
}

/* HERO */

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
/*background: linear-gradient(135deg, #336a29, #eaef9d);*/
color:white;
padding:20px;

animation:fadeIn 1.2s ease;
}

.hero h1{
font-size:48px;
margin-bottom:10px;
}

.hero p{
font-size:20px;
opacity:.9;
}

.btn{
margin-top:25px;
padding:12px 28px;
border-radius:30px;
background:white;
color:#333;
font-weight:600;
text-decoration:none;
transition:.3s;
}

.hero-buttons {
  margin-top: 25px;
  display: flex;
  gap: 15px; /* space between buttons */
  justify-content: center;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  background: white;
  color:black;
  font-weight: 600;
  text-decoration: none;
  transition: .3s;
}

.btn:hover {
  transform: translateY(-3px);
  background: pink;
  color:white;
}

/* Optional: Different color for CV button */
.btn-cv {
  background:white; /* green theme */
  color: #333;
}

.btn-cv:hover {
  transform: translateY(-3px);
  background: #pink;
  color: pink;/* darker green on hover */
}

/* SECTIONS */

section{
padding:90px 10%;
}

/* SKILLS */

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
margin-top:35px;
}

.card{
background:white;
padding:25px;
border-radius:10px;
text-align:center;
box-shadow:0 6px 15px rgba(0,0,0,0.08);
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

/* PROJECTS */

.projects-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
margin-top:40px;
}

.project-card{
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 8px 20px rgba(0,0,0,0.08);
transition:.3s;
}

.project-card:hover{
transform:translateY(-10px);
}

.project-card img{
width:100%;
height:200px;
object-fit:cover;
}

.project-card h3{
padding:15px;
}

.project-card p{
padding:0 15px 20px 15px;
}

/* CONTACT */

#contact p{
margin-top:10px;
}

/* FOOTER */

footer{
background: rgba(255, 255, 255, 0.7);
text-align:center;
padding:20px;
backdrop-filter:blur(10px);
-webkit-backdrop-filter:blur(10px);
}

/* ANIMATION */

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}

/* MOBILE RESPONSIVE */

@media (max-width:768px){

.hero h1{
font-size:32px;
}

.hero p{
font-size:16px;
}

nav{
flex-direction:column;
gap:15px;
}

nav ul{
flex-direction:column;
align-items:center;
}

section{
padding:70px 8%;
}

.projects-grid{
grid-template-columns:1fr;
}

.skills-grid{
grid-template-columns:1fr 1fr;
}

}

/* DARK MODE */

.dark-mode{
background:linear-gradient(135deg, #f29399, #000000);
color:white;
}

.dark-mode header{
background:rgba(15,23,42,0.7);
backdrop-filter:blur(10px);
}

.dark-mode nav a{
color:white;
}

.dark-mode nav a:hover{
color:#60a5fa;
}

.dark-mode .card,
.dark-mode .project-card{
background:#061208;
padding:25px;
border-radius:10px;
text-align:center;
box-shadow:0 6px 15px rgba(0,0,0,0.08);
transition:.3s;
}

.dark-mode footer{
background:#061208;
}

.dark-mode .logo{
color:white;
}

.dark-mode nav a.active{
color:#60a5fa;
}

#darkModeToggle {
  font-size: 20px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

#darkModeToggle:hover {
  transform: scale(1.1);
}
